.page {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 28px;
}

@media (min-width: 768px) {
  .page {
    padding-top: 45px;
  }
}

@media (min-width: 918px) {
  .page {
    max-width: 880px;
  }
}
