.page {
  min-width: 320px;
  max-width: 918px;
  margin: 0 auto;
  padding-top: 28px;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
