.profile {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    margin-bottom: 50px;
  }
}
