.profile__info {
  display: grid;
  grid-template-columns: 1fr 190px 1fr;
  column-gap: 10px;
  row-gap: 7px;
  grid-template-areas:
    '- name edit-button'
    'about about about';
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .profile__info {
    margin-right: auto;
    margin-bottom: 0;
    grid-template-columns: 294px 1fr;
    column-gap: 18px;
    row-gap: 7px;
    grid-template-areas:
      'name edit-button'
      'about about';
  }
}
