.popup__field {
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}

.popup__field:last-of-type {
  margin-bottom: 45px;
}
